<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<!-- environments: DB 세팅 정보 -->
  <environments default="development">
    <environment id="development">
    
    	<!-- JDBC를 이용한 트랜잭션 관리 -->
      <transactionManager type="JDBC"/>
      
      <!-- DB접속 정보 -->
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="scott"/>
        <property name="password" value="tiger"/>
      </dataSource>
    </environment>
  </environments>
  
  <!-- mappers: DB연결 쿼리 매퍼 -->
  <mappers>
    <mapper resource="dao/EmpMapper.xml"/>
  </mappers>
</configuration>
